[database]
server = "XXXX"
port = 27017
user = "XXXX"
password = "XXX"
database = "XXX"

[worker]
enableLambdaRemoteCheck = false
lambdaArn = "XXXX"
enableInfluxDb2Reporting = false
influxDb2Token =  "XXX"
influxDb2Bucket = "XXX"
influxDb2Org = "XX"
influxDb2Url = "XXX"

[aws]
accessKey = "XXXX"
secretKey = "XXX"
region = "eu-west-1"

[amq]
uri= "amqp://XXX:XXXXX@XXXX:5672/"
queueName = "XXXXX"
queueAlertName = "XX"
concurentRuntime=10

[alert]
emailFrom = "XXX"