[database]
server = "XXXX"
port = 27017
user = "XXXX"
password = "XXX"
database = "XXX"

[worker]
enableLambdaRemoteCheck = false
lambdaArn = "XXXX"

[aws]
accessKey = "XXXX"
secretKey = "XXX"
region = "eu-west-3"

[amq]
uri= "amqp://XXX:XXXXX@XXXX:5672/"
queueName = "XXXXX"
concurentRuntime=10
